$font-size-base: 16px
$badge-link-hover-color: #fff
$color: red
$link-color: yellow
$link-hover-color: red

  
body
  font-size: $font-size-base

//p
//  color: $color
//  font-size: $font-size-base

a
  color: $link-color

a:hover
  text-decoration: none
  color: $link-hover-color

div
  height: 20px

.row div:nth-child(1)
  background: blue
.row div:nth-child(2)
  background: green
.row div:nth-child(3)
  background: #ffff00
.row div:nth-child(4)
  background: red