$color: blue;
p {
  color: $color;
}

small {
  margin-left: 10px;
}

.title  {
  font-size: 1.5em;
}
.title a {
  font-size: 0.5em;
}
//.wrapper {
//  .make-row();
//}
//.content-main {
//  .make-lg-column(8);
//}
//.content-secondary {
//  .make-lg-column(3);
//  .make-lg-column-offset(1);
//}